<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis 환경 설정용 파일 (줄바꿈이 중요하다고???) -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 순서가 중요하다고 함 -->

<configuration>
	
	<settings>
		<!-- DB 컬럼명(snake_case) → 자바 필드명(camelCase) 자동 매핑 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- Null로 전달된 데이터를 빈칸으로 처리하지말고 Null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- DB 연결 설정 -->
	<environments default="mysqlDevelopment">
		<environment id="mysqlDevelopment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/my_Website" />
				<property name="username" value="root" />
				<property name="password" value="Seok" />
			</dataSource>
		</environment>
	</environments>

	<!-- Mapper 파일 위치 지정 -->
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/CommentMapper.xml" />
		<mapper resource="mapper/FileMapper.xml" />
		<mapper resource="mapper/LikeMapper.xml" />
		<mapper resource="mapper/ReportMapper.xml" />
	</mappers>
	
</configuration>