<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- DB 컬럼명(snake_case) → 자바 필드명(camelCase) 자동 매핑 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- Mapper 파일 위치 지정 -->
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
		<mapper resource="mapper/BoardMapper.xml" />
		<mapper resource="mapper/CommentMapper.xml" />
		<mapper resource="mapper/FileMapper.xml" />
		<mapper resource="mapper/LikeMapper.xml" />
		<mapper resource="mapper/ReportMapper.xml" />
	</mappers>
</configuration>
