<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReportMapper">

	<!-- 신고 등록 -->
	<insert id = "insertReport" parameterType="com.seok.dto.Report">
		 INSERT INTO reports (
		 				   target_type
		 				 , target_id
		 				 , reporter_num
		 				 , reason)
		 		VALUES ( 
		 		       #{targetType}
		 		     , #{targetId}
		 		     , #{reporterNum}
		 		     , #{reason})
	</insert>
	
	<!-- 신고 중복 확인 -->
	<select id="checkUserRetort" parameterType="com.seok.dto.Report" resultType="int">
        SELECT COUNT(*)
          FROM reports
    	 WHERE target_type  = #{targetType}
      	   AND target_id    = #{targetId}
      	   AND reporter_num = #{reporterNum}
	</select>
	
	<!-- 게시판 신고 수 반영 -->
	<update id="updateBoardReportCount" parameterType="int">
		UPDATE boards
		   SET report_count = (
		   					  SELECT COUNT(*)
							    FROM reports
							   WHERE target_type = 'BOARD'
							     AND target_id   = #{boardId})
	     WHERE board_id = #{boardId};
	</update>
	
	<!-- 댓글 신고 수 반영 -->
	<update id="updateCommentReportCount" parameterType="int">
		UPDATE comments
		   SET report_count = (
		   					  SELECT COUNT(*)
							    FROM reports
							   WHERE target_type = 'COMMENT'
							     AND target_id   = #{commentId})
	     WHERE comment_id   = #{commentId};
	</update>
	
	<!-- 유저 신고 수 반영 -->
	<update id="updateUserReportCount" parameterType="int">
        UPDATE users
           SET report_count = (
                              SELECT COUNT(*)
                                FROM reports
                               WHERE target_type = 'USER'
                                 AND target_id   = #{userId})
     WHERE user_num = #{userId}
	</update>

	<!-- 신고 내역 조회 (관리자용) -->
    <select id="selectAllReports" resultType="com.seok.dto.Report">
        SELECT report_id,
               target_type,
               target_id,
               reporter_num,
               reason,
               created_at
          FROM reports
      ORDER BY created_at DESC
    </select>	
	
	<!-- 신고 상세 조회 (관리자용) -->
    <select id="selectReportById" parameterType="int" resultType="com.seok.dto.Report">
        SELECT report_id
             , target_type
             , target_id
             , reporter_num
             , reason
             , created_at
          FROM reports
         WHERE report_id = #{reportId}
    </select>

</mapper>